h1 {
    font-family: "Comic Sans MS";
    font-size: xx-large;
    text-align: center;
}

#green {
    border: dotted lightgreen 2px;
    background-color: green;
    width: 400px;
    height: 400px;
    margin-left: 200px;
}

#red {
    border: dotted lightcoral 2px;
    background-color: red;
    width: 150px;
    height: 150px;
    ma
}

#blue {
    border: dotted lightskyblue 2px;
    background-color: blue;
    width: 150px;
    height: 150px;
}

#yellow {
    border: dotted lightyellow 2px;
    background-color: yellow;
    width: 150px;
    height: 150px;
}

