#gameTop {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 100%;
    margin: auto;
    position: absolute;

}
#gameBottom {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 100%;
    margin: auto;
    position: absolute;
}

#blueButton {
    width: 30px;
    height: 30px;
    background-color: blue;
}

#yellowButton {
    width: 30px;
    height: 30px;
    background-color: yellow;
}

#greenButton {
    width: 30px;
    height: 30px;
    background-color: green;
}

#redButton {
    width: 30px;
    height: 30px;
    background-color: red;
}


#beginGame {
    width: 100%;
    max-width: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 20.5vh;
}

#btn1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightskyblue;
    color: darkslategray;
    font-size: 3rem;
}

#btn2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightskyblue;
    color: darkslategray;
    font-size: 3rem;
}

