h1 {
    font-family: "Comic Sans MS";
}

h4 {
    font-family: "Comic Sans MS";
}
.container{
    height: 450px;
    width: 450px;
    margin: 0 auto;
    text-align: center;
}
.square{
    height: 200px;
    width: 200px;
    float: left;

}

.redButton{
    background-color:red;
    border-radius: 100px 0 0 0;

}

.greenButton{
    background-color: green;
    border-radius: 0 100px 0 0;

}

.blueButton{
    background-color: blue;
    border-radius: 0 0 0 100px;
}

.yellowButton{
    background-color: yellow;
    border-radius: 0 0 100px 0;
}
.play{
    height: 0;
    width: 0;
    border-color: transparent black transparent transparent;
    border-style:solid;
    border-width: 0 50px 50px 50px;
    transform: rotate(45deg);
    bottom: 100px;
    cursor: pointer;
    position: relative;
    top: 208px;
    left: 115px;
}



